#veditor {
    background: url(https://qiniu.duanxiaogang.cn//20210307233631.gif) 100% 50% no-repeat;
    background-size: 33%;
}
#veditor:focus {
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}
img.vimg {
     transition: all 1s   /* 旋转时间为 1s */
     border-radius: 50% !important;
}

img.vimg:hover {
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
}
#valine .vcards .vcard {
	padding: 15px 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 15px;
     box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s
}
#valine .vcards .vcard .vh .vcard {
	border: none;
	box-shadow: none;
}
.theme-container.liuyan
     .yy,.page .title
          text-align center
     .page-info,.end
          display: none
.theme-container.about
     .title
          text-align: center
     .page-info,.end
          display: none
.end
     text-align: center
     color: #fff
     .endbg
          padding: 2px 10px;
          background-image: url(https://qiniu.duanxiaogang.cn//20210311104942.gif);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          box-sizing: border-box;